#inner_box {
    display: flex;
    justify-content: center;
    gap:4rem;
    align-items: center;
    width: 80vw;
}

#inner_box > div {
    min-width: 0;
    flex: 1;
}

#pousada {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center
}


#image_side {
    display: flex;
    gap: 2vh;
    flex-direction: column;
}

#image_side img {
    flex: 1;
    min-width: 0;
}

.img_line {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2vh
}

.pousada_img {
    border-radius: 1rem;
    width: 24rem;
    height: 100%;
}

.pousada_img:hover {
    transform: scale(1.5)
}

#h_apousada {
    font-size: 46px !important;
}

#text_side > p {
    font-size: 16px;
    color: rgb(56, 56, 56)
}

.pf_cover {
    position:absolute;
    z-index: 2;
    background-color: black;
    opacity: 0;
    transition: opacity 500ms;
    width: 100%;
    height: 100%;
    inset: 0;
    cursor: pointer;
    border-radius: 1rem;
}

.pousada_frame {
    position: relative;
}

.pf_cover:hover {
    opacity: 0.27;
}