* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    width: 100vw;
    height: 100vh;
}

img {
    max-width: 100%;
    display: block;
}

.follow2 {
    position: fixed;
}

.follow1 {
    position: fixed;
}

#whats {
    width: 6.5vh;
    height: 6.5vh;
    bottom: 4vh;
    left: 4vh;
}

#header {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.button_h {
    font-size: 16px;
    background-color: transparent;
    border: 0px;
    color: white;
    padding: 15px;
    cursor: pointer;
}

.button_h:hover {
    color: rgb(251,227,235);
    text-decoration: underline;
}

#logo {
    width: 5vw;
    height: 5vw;
    padding: 10;
}

#a_logo {
    width: 5vw;
    height: 5vw;
}

#home {
    width: 100vw;
    height: 100vh;
}

#home_bg {
    width: 100%;
    height: 100%;
}

#acomodacoes {
    height: 900vh;
}