* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    width: 100vw;
    overflow-x: hidden;
    height: fit-content;
}

img {
    max-width: 100%;
    display: block;
}

#main {
    width: 100%;
    height: fit-content;
}

.section {
    width: 100%;
}

.follow2 {
    position: fixed;
}

.follow1 {
    position: fixed;
}

.dbutton {
    cursor: pointer;
}

#whats {
    width: 6.5vh;
    height: 6.5vh;
    bottom: 4vh;
    left: 4vh;
}


#acomodacoes {
    height: 1vh;
}



