#acomodacoes {
    min-height: fit-content;
    margin-right: 15vw;
    margin-left: 15vw;
    margin-top: 12vh;
    margin-bottom: 12vh;
    width: 70vw;
}

.acomodacao_card {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.37);
    width: 52vw;
}

.ac_selector {
    border-radius: 100%;
    background-color: transparent;
    width: 4vw;
    aspect-ratio: 1/1;
    border: 1px solid black;
    cursor: pointer;
}

.ac_selector[data-selected="1"] {
    background-color: black;
}

.ac_card_b {
    background-color: rgba(0, 0, 0, 0.353);
    border: 0px;
    border-radius: 0.5rem;
    width: 5vw;
    height: 5vh;
    font-size: 24px;
    color: white;
    transition: background-color 700ms;
    cursor: pointer;
}

#mobile_ac_selector {
    padding-top: 4vh;
    display: flex;
    flex-direction: row;
    gap: 4vw;
    width: 100%;
    justify-content: center;
}

.ac_card_dess {
    padding: 0.7vw;
    height: 35vh;
    position: relative;
}

.ac_reserve {
    background-color: rgb(255, 216, 229);
    width: 12vw;
    height: 4vh;
    border: 1px solid black;
    border-radius: 0.2rem;
    transition: background-color 1s, color 1s;
}



.ac_card_b:hover {
    background-color: rgba(0, 0, 0, 0.683);
}

#acomodacao_cards {
    overflow: hidden;
    width: 100%;
    height: fit-content;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#acomodacoes_card_slide {
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9vw;
    width: 120vw;
    position: relative;
    transition: left 700ms;
    left: 0vw
}

.ind_ball {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.455);
    width: 1vw;
    aspect-ratio: 1/1;
}

.ac_card_rb {
    right: -0.7vw
}

.ac_card_lb {
    left: -0.7vw
}

@media (min-width: 800px) {
    #mobile_ac_selector {
        display: none;
    }

    .acomodacao_card {
        width: 33vw;
    }

    .ind_ball {
        width: 0.25vw;
    }

    .ac_card_dess {
        height: 32vh;
    }

    #acomodacoes_card_slide {
        margin-top: 8vh;
        display: flex;
        gap: 2vw;
        justify-content: center;
        width: 100%;
    }

    .ac_card_b {
        width: 2vw;
    }

    .ac_card_rb {
        right: -0.3vw
    }

    .ac_card_lb {
        left: -0.3vw
    }
}

@media (min-width: 1000px) {
    .acomodacao_card {
        width: 28vw;
    }

    .ac_card_dess {
        height: 27vh;
    }
}

@media (min-width: 1200px) {
    .acomodacao_card {
        width: 23vw;
    }

    .ac_reserve {
        width: 5vw;
    }

}

@media (min-width: 1400px) {
    .acomodacao_card {
        width: 18vw;
    }

}


#acs_headline {
    font-size: 34px;
    font-weight: 500;
}



#comodidades_title {
    margin-top: 15vh;
    font-size: 34px;
    font-weight: 500;
}

.comodidade_d {
    font-size: 14px;
    font-weight: 300;
}

#comodidades {
    width: 100%;
    overflow-x: hidden;
}

#comodidade_slider {
    display: flex;
    gap: 6vw;
    width: calc((6vw * 12) + (8vw * 11));
}

#comodidade_slider>div {
    width: 6vw;
    height: 7vw;
}




.ac_description {
    font-size: 12px;
}

.ac_card_apd {
    font-size: 11px;
    padding-top: 3vh;
    position: absolute;
    bottom: 5vh;
}



.ac_reserve:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.ac_card_lower_box {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 1vh;
    width: 90%;
}


.ac_price_prefix {
    font-weight: 500;
}

.ac_price {
    font-weight: 600;
    font-size: 26px;
}

.ac_name {
    font-weight: 600;
    font-size: 21px;
    padding-bottom: 1vh;
}

.ac_card_imgs {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.ac_card_b {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}



.ac_card_img_slide {
    display: flex;
    left: 0vw;
    position: relative;
    transition: left 100ms;
}

.ac_cards {
    overflow: hidden;
}

.ac_img {
    height: 100%;
    object-fit: cover;
}

.ac_cards {
    height: 100%;
}

.ac_card_img_slide {
    height: 100%;
}

.ac_ind {
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    gap: 0.45vh
}

.ind_ball[data-selected="1"] {
    background-color: rgb(255, 255, 255);
}