#ambients_ut {
    padding-top: 9vh;
    padding-bottom: 8vh;
    color: rgb(85, 85, 85);
    display: flex;
    flex-direction: column;
    text-align: justify
}

.ambient_b {
    width: 8vw;
    aspect-ratio: 1/1;
    background-color: transparent;
    font-size: 100%;
    border: 1px solid black;
    border-radius: 0.4rem;
    text-decoration: solid;
    cursor: pointer;
}

#ambients_bs {
    margin-top: 3vh;
    display: flex;
    gap: 1vw
}

#ambients_container {
    width: 90%;
    padding-bottom: 8vh;
    display: flex;
    flex-direction: column;
}

#amb_slide {
    display: flex;
    gap: 4vw;
    width: calc((56vw * 5) + (4vw * 4));
    transition: left 120ms;
    left: 0vw;
}


.amb_card {
    width: 56vw;
}

@media (min-width: 600px) {
    .amb_card {
        width: 48vw;
    }

    #amb_slide {
        width: calc((48vw * 5) + (3vw * 4));
        gap: 3vw
    }
}

@media (min-width: 800px) {
    #ambients_ut {
        flex-direction: row;
    }

    .ambient_b {
        width: 3vw;
    }

    .amb_card {
        width: 38vw;
    }

    #amb_slide {
        width: calc((38vw * 5) + (2vw * 4));
        gap: 2vw;
    }

    #ambients_container {
        width: 70%;
    }

}

@media (min-width: 1200px) {
    .amb_card {
        width: 21vw;
    }

    #amb_slide {
        width: calc((21vw * 5) + (2vw * 4));
        gap: 2vw;
    }

}

@media (min-width: 1400px) {
    .amb_card {
        width: 17vw;
    }

    #amb_slide {
        width: calc((17vw * 5) + (2vw * 4));
        gap: 2vw;
    }

}

#ambients_ut_r {
    flex: 8;
    flex-shrink: 7
}

#ambients_ut_l {
    font-size: 32px;
    flex: 4;
    flex-shrink: 1;
    min-width: 0;
    min-height: fit-content;
    max-height: calc(fit-content) +2vh;
    color: rgb(42, 42, 42);
}

#ambients {
    background-color: #f6f0f1;
    display: flex;
    align-items: center;
    justify-content: center;
}





#ambients_cards {
    overflow: hidden;

}



.amb_card_i {
    height: 38vh;
    object-fit: cover;
    width: 100%;
}

.amb_card_d {
    color: rgb(85, 85, 85);
    max-height: 7rem;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}