#inner_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    align-items: flex-start;
    width: 75vw;
}

#h_localizacao {
    font-size: 28px !important;
    font-weight: 400;
}

@media (min-width: 800px) {
    #inner_box {
        flex-direction: row;
    }

    #h_apousada {
        font-size: 46px !important;
    }

    #h_localizacao {
        font-size: 32px !important;
    }
}



#inner_box>div {
    min-width: 0;
    flex: 1;
}

#pousada {
    min-height: fit-content;
    padding-top: 8vh;
    padding-bottom: 8vh;
    display: flex;
    align-items: center;
    justify-content: center
}


#image_side {
    display: flex;
    gap: 1vh;
    flex-direction: column;
}

#image_side img {
    flex: 1;
    min-width: 0;
}

.img_line {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1vh
}
.pousada_img {
    border-radius: 1rem;
    width: 24rem;
    height: 100%;
}


#h_apousada {
    font-size: 32px !important;
    text-align: center;
}

#text_side>p {
    font-size: 16px;
    color: rgb(56, 56, 56)
}

.pf_cover {
    position: absolute;
    z-index: 2;
    background-color: black;
    opacity: 0;
    transition: opacity 500ms;
    width: 100%;
    height: 100%;
    inset: 0;
    cursor: pointer;
    border-radius: 1rem;
}

.pousada_frame {
    position: relative;
}

.pf_cover:hover {
    opacity: 0.27;
}

#localizacao {
    padding-top: 8vh;
    min-height: fit-content;
    padding-bottom: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f0f1;
}



#loc_text_side {
    font-size: 16px;
    color: rgb(56, 56, 56);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.loc_frame {
    position: relative;
}