.pou_loc_inner_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4vw;
    align-items: flex-start;
    width: 84vw;
    margin-left: 8vw;
    margin-right: 8vw;
}

#localizacao {
    padding-top: 8vh;
    min-height: fit-content;
    padding-bottom: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f0f1;
}

#image_side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
}

#h_localizacao {
    font-size: 25px !important;
    font-weight: 400;
    text-align: center;
}

.pousada_frame {
    position: relative;
    width: 41vw;
    overflow: hidden;
    border-radius: 1rem;
}



@media (min-width: 800px) {

    #h_apousada {
        font-size: 46px !important;
        text-align: auto;
    }

    #h_localizacao {
        font-size: 32px !important;
    }

    .pousada_frame {
        width: 20vw;
    }

    .pou_loc_inner_box {
        width: 96vw;
        margin-left: 4vw;
        margin-right: 0vw;
        flex-direction: row;

    }
}

@media (min-width: 1000px) {
    .pou_loc_inner_box {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media (min-width: 1200px) {
    .pousada_frame {
        width: 16vw;
    }

    .pou_loc_inner_box {
        width: 75vw;
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

.pou_loc_inner_box>div {
    min-width: 0;
    flex: 1;
}

#pousada {
    min-height: fit-content;
    padding-top: 8vh;
    padding-bottom: 8vh;
}




#image_side img {
    flex: 1;
    min-width: 0;
}

.img_line {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1vh
}
.pousada_img {
    width: 24rem;
    height: 100%;
    transition: transform 1s;
}


#h_apousada {
    font-size: 32px !important;
    text-align: center;
}

#text_side>p {
    font-size: 16px;
    color: rgb(56, 56, 56)
}

.pf_cover {
    position: absolute;
    z-index: 2;
    background-color: black;
    opacity: 0;
    transition: opacity 500ms;
    width: 100%;
    height: 100%;
    inset: 0;
    cursor: pointer;
    border-radius: 1rem;
}

.pf_cover:hover {
    opacity: 0.27;
}

#loc_text_side {
    font-size: 16px;
    color: rgb(56, 56, 56);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.loc_frame {
    position: relative;
    transition: transform 1s;
    overflow: hidden;
    border-radius: 1rem;

}