#galeria {
    background-color: #f6f0f1;
}

#gallery {
    position: relative;
    left: 3vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    flex-wrap: wrap;
    min-width: 200px;
    width: 94vw;
    margin-top: 2vh;
    justify-content: center;
}

.gallery_frame {
    width: 14rem;
    overflow: hidden;
}

.gallery_img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    transition: transform 1s;
}

.gallery_img[data-selected="1"] {
    transform: scale(1.1);
}

.gallery_img[data-selected="0"] {
    transform: scale(1);
}

@media (min-width: 600px) {
    #gallery {
        min-width: 600px;
        width: 84vw;
        left: 8vw
    }

    .gallery_frame {
        width: 18rem;
    }
}

@media (min-width: 800px) {
    #gallery {
        min-width: 700px;
        width: 80vw;
        left: 10vw
    }

    .gallery_frame {
        width: 20rem;
    }

}

@media (min-width: 1000px) {
    .gallery_frame {
        width: 24rem;
    }

    #gallery {
        min-width: 700px;
        width: 70vw;
        left: 15vw
    }

}

.gallery_frame {
    position: relative;
}

.gallery_cover {
    position: absolute;
    z-index: 2;
    background-color: black;
    opacity: 0;
    transition: opacity 500ms;
    width: 100%;
    height: 100%;
    inset: 0;
    cursor: pointer;
    border-radius: 1rem;
}

.gallery_cover:hover {
    opacity: 0.27;
}

#gallery_see {
    cursor: pointer;
    margin-bottom: 8vh;
    font-weight: 500;
}

#galeria_h {
    font-size: 34px;
    font-weight: 400;
    margin-top: 8vh;
    margin-bottom: 3vh;
}

#galeria p {
    position: relative;
    width: 70vw;
    left: 50%;
    transform: translateX(-50%)
}