#galeria {
    display: flex;
    flex-direction: column;
    background-color: #f6f0f1;
    align-items: center;
}

#gallery {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    flex-wrap: wrap;
    justify-content: start;
    min-width: 200px;
    width: 96vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vh;
}


.gallery_img {
    border-radius: 1rem;
    width: 11rem;
    height: 100%;
}

@media (min-width: 800px) {
    #gallery {
        min-width: 700px;
        width: 80vw;
    }
    
    .gallery_img {
        width: 24rem;
    }
}

#gallery_see {
    cursor: pointer;
    margin-bottom: 8vh;
    font-weight: 500;
}

#galeria_h {
    font-size: 34px;
    font-weight: 400;
    margin-top: 8vh;
    margin-bottom: 3vh;
}

#galeria p {
    width: 70vw;
}