.gas_even_iner_box {
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.gastronomia_im_b {
    position: absolute;
    width: 6vw;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.gas_even {
    max-width: 100%;
    overflow-x: hidden;
    min-height: fit-content;
    padding-top: 6vh;
    padding-bottom: 8vh;
}

#eventos_inner_box {
    flex-direction: column-reverse;
}

@media (min-width: 800px) {
    .gas_even_iner_box {
        flex-direction: row;
    }

    #eventos_inner_box {
        flex-direction: row;
    }

    .gastronomia_im_b {
        width: 2vw;
    }

    .gas_even {
        padding-top: 10vh;
        padding-bottom: 15vh;
    }
}


#gastronomia {
    background-color: #f6f0f1;
}


.gas_even_iner_box>div {
    flex: 1;
    min-width: 200px;
}

#gastronomia_im_lb {
    left: 0px;
}

#event_im_lb {
    left: 0px;
}

#gastronomia_im_rb {
    right: 0px;
}

#event_im_rb {
    right: 0px;
}

.gas_even_img_side {
    overflow: hidden;
    position: relative;
}

.gas_even_cards {
    overflow: hidden;
}

.gas_even_slider {
    height: 100%;
    display: flex;
    overflow: hidden;
    width: 200%;
    position: relative;
    right: 0%;
    transition: right 1300ms;
}

.gastronomia_pic {
    width: 50%;
    aspect-ratio: 16/9;
    max-height: 70vh;
    object-fit: cover;
}